@import 'colors';

.cv {
    .cv-title {
        text-align: center;
        margin-bottom: 1vh;
    }
    .cv-function {
        text-align: center;
        margin-bottom: 4vh;
    }

    .cv-download {
        margin-bottom: 4vh;
        display: flex;
        justify-content: center;
    }
    
    .cv-presentation {
    }

    .cv-professional-experiences {
        display: flex;
        flex-direction: column;

        .professional-experiences-title {
            font-weight: bold;
        }
        .professional-experiences-list {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin: 0;

            .professional-xp {
                display: flex;
                flex-direction: column;
                margin-block: 2vh;

                .xp-complete-title {
                    display: flex;
                    flex-direction: row;
                    font-weight: bold;

                    .xp-type {}
                    .xp-title-separator {
                        width: 2rem;
                        text-align: center;
                    }
                    .xp-title {}
                }
                .xp-subtitle {
                    display: flex;
                    flex-direction: row;
                    font-style: italic;
                    margin-bottom: 1.5vh;

                    .xp-enterprise {
                    }
                    .xp-subtitle-separator {
                        width: 2rem;
                        text-align: center;
                    }
                    .xp-years {}
                }
                .xp-tasks {
                    .task {
                        margin-bottom: 1vh;
                        .task-name {}
                        .task-details {
                            list-style-type: none;

                            .task-detail:before {
                                content: '- ';
                            }
                            .task-detail {
                                font-size: 80%;
                            }
                        }
                        .task-tools {
                            font-style: italic;
                            font-size: 80%;
                        }
                    }
                }
            }
        }
    }

    .cv-formations {
        .formation {
            display: flex;
            flex-direction: column;
            margin: 2vh 0;
        
            .formation-title {
                width: 100%;
                text-align: left;
                margin-bottom: 0.5vh;
                font-size: 92%;
            }
        
            .formation-info {
                display: flex;
                flex-direction: row;
                font-style: italic;
                font-size: 90%;

                .formation-years {
                    width: 6rem;
                }
                .formation-address {
                    
                }
            }
        }
    }
}