@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import 'colors';

$header_width: 25vw;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Merriweather, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 22px;
  background: #fff;
  color: $text_color;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: $primary;
}

.button {
  background-color: $primary;
  color: $white;
  border: lighten($primary, 3%) 4px solid;
  border-radius: 3px;
  padding: 0.75rem 1.5rem;
  font-size: 77%;
}
.button:active {
  background-color: lighten($primary, 3%);
  color: $white;
  border: $primary 4px solid;
}

p {
  text-align: justify;
}

label {
  font-weight: bold;
  margin-bottom: 1vh;
}
input, textarea {
  background: #f7f8f9;
  border: 1px solid #e9ebed;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  color: #555e69;
  display: inline-block;
  font: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 10px;
  vertical-align: baseline;
  width: 100%;
}

textarea {
  min-width: 100%;
}

h2 {
  color: #33383f;
  font-size: 1em;
  letter-spacing: .11111em;
  margin-bottom: 1rem;
  margin-top: 1.66667rem;
  text-transform: uppercase;
}

h2::after {
  border-color: $primary;
  border-left: 30px solid $primary;
  box-shadow: inset 0 1px 0 0 #e9ebed;
  display: block;
  content: "";
  height: 3px;
  margin-top: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.external-link {
  display: inline-block;
  color: $primary;
  padding-inline: 0.3rem;
  svg {
    position: relative;
    top: 0.1rem;
  }
}
.external-link:hover {
  cursor: pointer;
}

.layout {
  display: flex;
  flex-direction: row;
  height: 100%;

  header,
  .content {
    padding-bottom: 3.33333em;
    padding-top: 3.33333em;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  
  header {
    $profile_separation_heigth: 5vh;
    
    left: 0;
    position: fixed;

    width: $header_width;
    height: 100vh;
    background: #33383f;
    color: #959ea9;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    
    .profile {
      display: flex;
      flex-direction: column;

      .logo {
        max-width: 205px;
        object-fit: cover;
        border: 3px solid $primary;
        border-radius: 100%;    
        box-shadow: 0 0 1px 11px rgb(16 188 249 / 20%);
        margin-bottom: $profile_separation_heigth;
      }

      .name {
        font-size: 1.33333rem;
        font-weight: bold;
        margin: 0.8rem;
        line-height: 1.2;  
        color: #fff;
      }

      .functions {
        display: flex;
        flex-direction: column;
        line-height: 1.6rem;

        margin-bottom: $profile_separation_heigth;
      }
    }

    nav {
      text-transform: uppercase;
      margin-bottom: $profile_separation_heigth;

      .menu {
        line-height: 1.5;
        letter-spacing: .15em;
        list-style: none;
        list-style-type: none;
        padding: 0;
        
        li {
          border-top: 1px solid $text_color;
          padding: .5em 0;
          display: list-item;
          text-align: -webkit-match-parent;
        }

        li:last-child{
          border-bottom: 1px solid $text_color;
        }

        .menu-item_selected {
          color: $primary;
        }
      }
    }

    .socials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 1.5rem;
      width: 100%;

      .social-media-elt {
        margin-inline: 1.5rem;
      }
    }
  }
  
  .content {
    flex: 1;
    margin-left: $header_width;
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-name: fadeInContent;
    
    .inner {
      max-width: 1080px;
      margin-inline: auto;
    }
  }
  
  @keyframes fadeInContent {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
}