@import 'colors';

$header_width: 25vw;

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    header,
    .content {
        padding-bottom: 3.33333em;
        padding-top: 3.33333em;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    header {
        $profile_separation_heigth: 5vh;

        background: #33383f;
        color: #959ea9;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: center;

        display: flex;
        flex-direction: column;

        .profile {
            display: flex;
            flex-direction: column;

            .logo {
                max-width: 205px;
                object-fit: cover;
                border: 3px solid $primary;
                border-radius: 100%;
                box-shadow: 0 0 1px 11px rgb(16 188 249 / 20%);
                margin-bottom: $profile_separation_heigth;
            }

            .name {
                font-size: 1.33333rem;
                font-weight: bold;
                margin: 0.8rem;
                line-height: 1.2;
                color: #fff;
            }

            .functions {
                display: flex;
                flex-direction: column;
                line-height: 1.6rem;

                margin-bottom: $profile_separation_heigth;
            }
        }

        nav {
            text-transform: uppercase;
            margin-bottom: $profile_separation_heigth;

            .menu {
                line-height: 1.5;
                letter-spacing: 0.15em;
                list-style: none;
                list-style-type: none;
                padding: 0;

                li {
                    border-top: 1px solid $text_color;
                    padding: 0.5em 0;
                    display: list-item;
                    text-align: -webkit-match-parent;
                }

                li:last-child {
                    border-bottom: 1px solid $text_color;
                }

                .menu-item_selected {
                    color: $primary;
                }
            }
        }

        .socials {
            display: none;
        }
    }

    .content {
        flex: 1;
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-name: fadeInContent;

        .inner {
            max-width: 1080px;
            margin-inline: auto;
        }
    }

    @keyframes fadeInContent {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 1200px) {
    .layout {
        flex-direction: row;

        header {
            height: 100vh;
            width: $header_width;
            left: 0;
            position: fixed;
            flex-direction: row;
            
            .socials {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 1.5rem;
                width: 100%;

                .social-media-elt {
                    margin-inline: 1.5rem;
                }
            }
        }

        .content {
            margin-left: $header_width;
        }
    }
}