@import 'colors';

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.3;
    color: $text_color;
    background-color: $white;
    border: 1px solid $border_color;
}

th {
    font-weight: bold;
    text-align: left;
    background-color: lighten($primary, 12%);
    color: $white;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: 1px solid $border_color;
}

td {
    text-align: left;
    padding: 0.5rem 1rem;
    border: 1px solid $border_color;
}

tr {
    &:nth-child(even) {
        background-color: $background_color;
    }
}
